@page
@model presentacion.Pages.RegistroVentaModel
@{}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].CodigoProducto )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].PrecioVenta )
            </th>
            <th>
                Cantidad
            </th>   
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Producto) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                <input type="number" asp-for="Cantidad" class="form-control"/>
            </td>
            <td>
                <form id="vender" method="post">
                    <button type="submit" name="id" value="@item.Id" form="vender" asp-page-handler="Vender"
                    class="link-button">Vender</button>
                </form>
            </td>
        </tr>

    }
</tbody>
</table>
    